<!--部分テンプレートとして使用するためインスタンス変数をローカル変数に変更-->

<h2>User info</h2>

<%= image_tag user.get_profile_image(100,100) %>

<table>
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr>

  <tr>
    <td>introduction</td>
    <td><%= user.introduction %></td>
  </tr>
</table>


<!--本人のみ編集できるように削除ボタンを設定-->
<% if user == current_user %>
  <%= link_to edit_user_path(user) do %>
    <i class="fa-solid fa-user-gear"></i>
  <% end %>
<% end %>