<!--部分テンプレートとして使用するためインスタンス変数をローカル変数に変更-->

<h1>User info</h1>

<%= image_tag user.get_profile_image(100,100) %>

<table>
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr>

  <tr>
    <td>introduction</td>
    <td><%= user.introduction %></td>
  </tr>
</table>


<%= link_to "編集（アイコンに変更）", edit_user_path(user) %>
