<!--部分テンプレートとして使用するためインスタンス変数をローカル変数に変更-->

<h2>User info</h2>

<%= image_tag user.get_profile_image(100,100) %>

<table>
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr>

  <tr>
    <td>introduction</td>
    <td><%= user.introduction %></td>
  </tr>
</table>

<!--1リンク先は本を書いた人の編集ページ-->
<!--2editに本人ではない場合はeditアクションで遷移させる-->
  <%= link_to edit_user_path(user) do %>
    <i class="fa-solid fa-user-gear"></i>
  <% end %>
