<h2>Books</h2>
<p>Title</p>
<p>Opinion</p>

<% @books.each do |book| %>
  <div>
    <!--nameは後で画像に置き換える-->
    <p>画像<%= book.user.name %></p>

    <p>Title</p>
    <p><%= link_to book.title, book_path(book.id) %></p>

    <P><%= book.opinion %></p>
  </div>
<% end %>